name: Go Fuzz Testing
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  fuzz:
    name: Fuzz
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        command:
          - "go test ./addenda/... -fuzz Fuzz -fuzztime 10m"
          - "go test ./test/fuzz/... -fuzz ACH -fuzztime 10m"
          - "go test ./test/fuzz/... -fuzz JSON -fuzztime 10m"

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Fuzz
      run: ${{ matrix.command }}

    - name: Report Failures
      if: ${{ failure() }}
      run: |
        find ./addenda/testdata/fuzz/ -type f | xargs -n1 tail -n +1 -v
        find ./test/fuzz/testdata/fuzz/ -type f | xargs -n1 tail -n +1 -v
