# Use https://app.stepsecurity.io/ to improve workflow security
name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    name: Go Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: '>= 1.20.1'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Install make (Windows)
      if: runner.os == 'Windows'
      run: choco install -y make mingw

    - name: Check OpenAPI
      if: runner.os == 'Linux'
      run: make check-openapi

    - name: Generate OpenAPI
      if: runner.os == 'Linux'
      run: |
        go get -u golang.org/x/oauth2
        make client

    - name: Check
      run: make check
      env:
        GOLANGCI_LINTERS: gosec

    - name: Upload Code Coverage
      if: runner.os == 'Linux'
      run: bash <(curl -s https://codecov.io/bash)

    - name: Docker Build
      if: runner.os == 'Linux'
      run: make docker && make test-integration && make clean-integration
